@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .sidebar-icon{
        @apply relative flex items-center justify-center
        h-12 w-12  mt-2 mb-2 mx-auto shadow-lg
        bg-gray-800 text-green-500
        hover:bg-green-600 hover:text-white
        rounded-3xl hover:rounded-xl 
        before:w-0 before:h-1 before:mr-0 before:ml-1 hover:before:w-1 hover:before:bg-red-500 hover:before:mr-2 
        after:w-0 after:h-1 after:ml-0 after:mr-1 hover:after:w-1 hover:after:bg-red-300 hover:after:ml-2
        /* hover:after:transition-all hover:before:transition-all */
        transition-all duration-300 ease-in-out cursor-pointer
        /* hover:ease-in hover:duration-400 */
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
        rounded-md shadow-md
        text-white bg-gray-900 
        text-xs font-bold
        transition-all duration-100 scale-0 origin-left;
      }
}